*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Header börjar här*/
#Header{
  text-align: center;
  background-color: rgb(56, 56, 56);
  padding: 2em 0.2em;
}

#Header > h1{
  color: white;
  font-size: 26px;
  padding-bottom: 1em;
}

.hitta-poke{
  border: none;
  padding: 0.5em 0.2em;
  background-color: rgb(159, 13, 13);
  color: white;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.hitta-poke:hover{
  background-color: grey;
}
/*Header slutar här*/


/* input för sök pokemon diven börjar här */

.input-div{
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#sök-pokemon{
font-size: 22px;
padding: 0.2em;
background-color:#383838;
color: white;
border-radius: 10px;
border: none;
}



::placeholder{
  color: #BDBCBC;
  padding-left: 0.6em;
}



.fas{
  position: relative;
  right: 1.8em;
  font-size: 22px;
  color: #BDBCBC;
}

/* Error meddelande här */
#error-meddelande{
   text-align:center;
  color: red;
  width: 100%;
  margin-top: 0.5em;
  padding: 0;
  font-size: 20px;
}

/* pokemon figur börjar här*/
.wrapper, .wrapper2{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  flex-wrap: wrap;

}
.figur {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}

@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

.pokemon-container{
  padding: 2em 2em;
  border: 2px solid #9F0D0D;
  border-radius: 20px;
  background:  linear-gradient(-150deg, rgb(107, 3, 25) 5%, rgb(3, 3, 13) 35%, rgb(10, 155, 184) 100%);
  margin-top: 1em;
  gap: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
}

img{
  text-align: center;
  width: 150px;
}

.lägg-till-pokebtn, .ta-bort-pokemon, .byt-namn{
  font-size: 20px;
  padding: 0.5em 0.5em;
  border: none;
  font-weight: bold;
  background: linear-gradient(10deg, rgb(30, 10, 15) 5%, rgb(166, 11, 11) 35%, rgb(17, 2, 2) 100%) ;
  color: white;
  cursor: pointer;
}

/*sida 2*/

.antal-spelare{
  margin-top: 1em;
  font-size: 24px;
  padding-top: 1em;
  border-radius: 20px;
}

.lagets-spelare{
  font-weight: bold;
}

#minst-antal-spelare{
  text-align: center;
  padding: 1em 0;
  width: 250px;
}

/* reservlag */
/* .reserv-wrapper{
  margin-top: 2em;
  border: 2px blue solid;
  padding: 4em;
} */