*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/*Header börjar här*/
#Header{
  text-align: center;
  background-color: rgb(56, 56, 56);
  padding: 2em 0.2em;
}

#Header > h1{
  color: white;
  font-size: 26px;
  padding-bottom: 1em;
}

.hitta-poke{
  border: none;
  padding: 0.5em 0.2em;
  background-color: rgb(159, 13, 13);
  color: white;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.hitta-poke:hover{
  background-color: grey;
}
/*Header slutar här*/


/* input för sök pokemon diven börjar här */

.input-div{
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#sök-pokemon{
font-size: 22px;
padding: 0.2em;
background-color:#383838;
color: white;
border-radius: 10px;
border: none;
}



::placeholder{
  color: #BDBCBC;
  padding-left: 0.6em;
}




/* Error meddelande här */
#error-meddelande{
   text-align:center;
  color: red;
  width: 100%;
  margin-top: 0.5em;
  padding: 0;
  font-size: 20px;
}

/* pokemon figur börjar här*/
.wrapper, .wrapper2{
  margin-top: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  flex-wrap: wrap;

}
.figur {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}

@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

.pokemon-container{
  height: 550px;
  padding: 2em 2em;
  border: 2px solid #9F0D0D;
  border-radius: 20px;
  background:  linear-gradient(-150deg, rgb(107, 3, 25) 5%, rgb(3, 3, 13) 35%, rgb(10, 155, 184) 100%);
  margin-top: 1em;
  gap: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.pokemon-container h2{
  text-transform: uppercase;
}

img{
  height: 200px;
  text-align: center;
  width: 150px;
}

.lägg-till-pokebtn, .ta-bort-pokemon, .byt-namn{
  font-size: 20px;
  padding: 0.5em 0.5em;
  border: none;
  font-weight: bold;
  background: linear-gradient(10deg, rgb(30, 10, 15) 5%, rgb(166, 11, 11) 35%, rgb(17, 2, 2) 100%) ;
  color: white;
  cursor: pointer;
}

/*sida 2*/

#sida-2{
  width: 100%;
  padding: 0em 1em;
}

.antal-spelare-div{
  display: flex;
  justify-content: center;
}
.antal-spelare{
  margin-top: 1em;
  font-size: 24px;
  padding-top: 1em;
  border-radius: 20px;
}

.lagets-spelare{
  font-weight: bold;
}

#minst-antal-spelare{
  text-align: center;
  padding: 1em 0;
  width: 250px;
}



/* krafter här */
.ability-poke{
  margin-bottom: 1em;
  margin-top: 1em;
  border: 2px solid rgb(122, 32, 32);
  border-radius: 10px;
  box-shadow: -13px 14px 19px -3px rgba(122,32,32,0.75);
  background: linear-gradient(10deg, rgb(30, 10, 15) 5%, #1a5a6b 35%, rgb(17, 2, 2) 100%) ;
  padding: 0.5em 2em;
  font-size: 20px;
  /* list-style:url('/flash.png'); */
  /* list-style-position: outside; */
  list-style:disc;
}

.ability-poke > p{
  font-size: 24px;
  padding-bottom: 0.5em;
  text-decoration-line: underline;
  text-align: center;
}

.ability-poke > li{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 0.5em;
}


/* desktop size börjar här */
@media screen and (min-width: 640px){
  .wrapper{
    flex-direction: row;
    gap: 6em;
    flex-wrap: wrap;
  }
  .wrapper2{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6em;
 
  }

  .pokemon-container{
    height: 550px;
    width: 450px;
  }
}